<!-- views/partials/footer.ejs -->
<center>
<p>The links below will be removed. It is a quick way to test all the CRUD routes</p>

<!-- ARTICLE LINKS -->

<!--router.get('/post/create', article_controller.article_create_get);-->
<a href="/blog/article/create">Article Create GET </a> | 

<!--router.post('/article/create', article_controller.article_create_post);-->
<a href="/blog/article/create">Article Create POST </a> | 

<!--router.get('/article/:article_id/delete', article_controller.article_delete_get);-->
<a href="/blog/article/:article_id/delete">Article Delete GET </a> | 

<!--router.post('/article/:article_id/delete', article_controller.article_delete_post);-->
<a href="/blog/article/:article_id/delete">Article Delete POST   </a> | 

<!--router.get('/article/:article_id/update', article_controller.article_update_get);-->
<a href="/blog/article/:article_id/update">Article Update GET </a> |

<!--router.post('/article/:article_id/update', article_controller.article_update_post);-->
<a href="/blog/article/:article_id/update">Article Update POST </a> |

<!--router.get('/article/:article_id', article_controller.article_detail);-->
<a href="/blog/article/:article_id">Article Detail One  </a> |

<!--router.get('/articles', article_controller.article_list);-->
<a href="/blog/articles">Article Detail All </a> 

<br/>

<!-- AUTHOR LINK -->

<!--router.get('/author/create', author_controller.author_create_get);-->
<a href="/blog/author/create">Author Create GET </a> | 

<!--router.post('/author/create', author_controller.author_create_post);-->
<a href="/blog/author/create">Author Create POST </a> | 

<!--router.get('/author/:author_id/delete', author_controller.author_delete_get);-->
<a href="/blog/author/:author_id/delete">Author Delete GET </a> | 

<!--router.post('/author/:author_id/delete', author_controller.author_delete_post);-->
<a href="/blog/author/:author_id/delete">Author Delete POST   </a> | 

<!--router.get('/author/:author_id/update', author_controller.author_update_get);-->
<a href="/blog/author/:author_id/update">Author Update GET </a> |

<!--router.post('/author/:author_id/update', author_controller.author_update_post);-->
<a href="/blog/author/:author_id/update">Author Update POST </a> |

<!--router.get('/author/:author_id', author_controller.author_detail);-->
<a href="/blog/author/:author_id">Author Detail One  </a> |

<!--router.get('/authors', author_controller.author_list);-->
<a href="/blog/authors">Author Detail All </a> 

<br/>
<!-- COMMENTS LINKS -->

<!--router.get('/comment/create', comment_controller.comment_create_get);-->
<a href="/blog/comment/create">Comment Create GET </a> | 

<!--router.post('/comment/create', comment_controller.comment_create_post);-->
<a href="/blog/comment/create">Comment Create POST </a> | 

<!--router.get('/comment/:comment_id/delete', comment_controller.comment_delete_get);-->
<a href="/blog/comment/:comment_id/delete">Comment Delete GET </a> | 

<!--router.post('/comment/:comment_id/delete', comment_controller.comment_delete_post);-->
<a href="/blog/comment/:comment_id/delete">Comment Delete POST   </a> | 

<!--router.get('/comment/:comment_id/update', comment_controller.comment_update_get);-->
<a href="/blog/comment/:comment_id/update">Comm Update GET </a> |

<!--router.post('/comment/:comment_id/update', comment_controller.comment_update_post);-->
<a href="/blog/comment/:comment_id/update">Comm Update POST </a> |

<!--router.get('/comment/:comment_id', comment_controller.comment_detail);-->
<a href="/blog/comment/:comment_id">Comm Detail One  </a> |

<!--router.get('/comments', comment_controller.comment_list);-->
<a href="/blog/comments">Comm Detail All </a> 

<br/>
<!-- CATEGORY LINKS -->

<!--router.get('/category/create', category_controller.category_create_get);-->
<a href="/blog/category/create">Category Create GET </a> | 

<!--router.post('/category/create', category_controller.category_create_post);-->
<a href="/blog/category/create">Category Create POST </a> | 

<!--router.get('/category/:category_id/delete', category_controller.category_delete_get);-->
<a href="/blog/category/:category_id/delete">Category Delete GET </a> | 

<!--router.post('/category/:category_id/delete', category_controller.category_delete_post);-->
<a href="/blog/category/:category_id/delete">Category Delete POST   </a> | 

<!--router.get('/category/:category_id/update', category_controller.category_update_get);-->
<a href="/blog/category/:category_id/update">Category Update GET </a> |

<!--router.post('/category/:category_id/update', category_controller.category_update_post);-->
<a href="/blog/category/:category_id/update">Category Update POST </a> |

<!--router.get('/category/:category_id', category_controller.category_detail);-->
<a href="/blog/category/:category_id">Category Detail One  </a> |

<!--router.get('/categories', category_controller.category_list);-->
<a href="/blog/categories">Category Details All </a> 

</center>
<br/>
<p class="text-center text-muted">© Copyright 2020 Manifest & Company Inc.</p>



 







 
