<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Article') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="Article Title">
              <br><br/>
              Article Body:<br>
              <input type="text" name="article_body" value="Article Body">
              <br><br>
              Author:<br>
              <input type="text" name="author_id" value="1">
              <br><br>
              Category:<br>
              <input type="text" name="category_id" value="1">
              <br><br>
              <input type="submit" value="Create Article">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Article') { %>
     
<% } else if (title == 'Update Article') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/article/<%= article.id %>/update" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="<%= article.article_title %>">
              <br>
              Article Body:<br>
              <input type="text" name="article_body" value="<%= article.article_body %>">
              <br>
              Article Category:<br>
              <input type="text" name="category_id" value="1">
              <br><br>
              <input type="submit" value="Update Article">
            </form>
        </div>
    </div>
<% } else if (title == 'Article Details') { %>
    <div class="col-sm-8">    
        <div class="">
    
            <h1>Details of a Single article</h1>
            <p>I am a article for this ID = <%= article.id %></p>
            <p>Article Title: <%= article.article_title %></p>
            <p>Article Body:  <%= article.article_body %></p>
            </p> Category: Category: DISPLAY CATEGORY HERE </p>
            <a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a>
        
       
        <h2>All Comments on this Article</h2>
        <div class="">
            <ol>
            <% article.Comments.forEach(function(comment) { %>
                    <li>
                        <p><%= comment.comment_body %>
                            --- <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
                        </p>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>    
            
        <!--Form to post comment-->
        <h1>POST A NEW COMMENT </h1>
        <form action="/blog/comment/create" method="post">
              Comment Title:<br>
              <input type="text" name="comment_title" value="Comment Title">
              <br><br>
              Comment Body:<br>
              <input type="text" name="comment_body" value="Comment Body">
              <br><br>
              <input type="hidden" name="article_id" value="<%= article.id %>">
              <input type="submit" value="Create Comment">
        </form>
        </div>
    </div>
<% } else if (title == 'Article List') { %>
    <div class="col-sm-8">    
        <div class="">
            <ol>
            <% articles.forEach(function(article) { %>
                    <li>
                        <h4><a href="/blog/article/<%= article.id %>"><%= article.article_title %></a></h4>
                        <p>The main body of the article: <%= article.article_body %> | Category: DISPLAY CATEGORY HERE </p>
                         <a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a> | <a href="/blog/article/<%= article.id %>">Article Details</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
    </div>
<% } else { %>

<% } %>
<!--POST VIEW END HERE-->