<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total posts in database is <%= articleCount.count %></p>
    <p>Total authors in database is <%= authorCount.count %> </p>
    <p>Total comments in database is <%= commentCount.count %></p>
    <p>Total categories in database is <%= categoryCount.count %></p>

</div>